@import "src/style/variables";

.lu-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  background-color: #00000073;
}

.lu-model {
  position: relative;
  top: 100px;
  margin: 0 auto;
  border-radius: $border-radius;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 8px;

}

.lu-model-header {
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;

  > span {
    padding: 4px;
  }
}

.lu-model-content {
  flex: 1;
  padding: 8px;
  word-wrap: break-word;
  border-bottom: 1px solid #f0f0f0;
}

.lu-model-footer {
  display: flex;
  padding: 4px 0;
  flex-direction: row-reverse;

  > .ok-btn,
  .cancel-btn {
    margin-left: 8px;
  }
}
