.lu {
	&-content {
		&-wrapper {
			height: auto;
			overflow: hidden;
			position: relative;
			background-color: pink;
		}
		transform-origin: left top 0px;
	}

	&-transition {
		transition: transform 0.2s;
	}

	&-indicator {
		position: absolute;
		left: 0;
		width: 100%;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		border: 1px solid red;
	}

	&-down .lu-indicator {
		transform: translateY(-100%);
		border: 1px solid black;
	}

	&-up .lu-indicator {
		transform: translateY(-100%);
	}
}
