//@import-normalize; /* bring in normalize.css styles */

/* rest of app styles */
body {
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Segoe UI, Arial, Roboto, PingFang SC, miui, Hiragino Sans GB, Microsoft Yahei, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre, code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

// config
@import "variables";

//layout
@import "reboot";

//mixin
@import "mixin";

// animation
@import "animation";

// button
@import "../components/Button/style";

// menu
@import "../components/Menu/style";

// icon
//@import "../components/Icon/style";

//input
@import "../components/Input/style";

//@import "../views/style";

//auto-complete
//@import "../components/AutoComplete/style";

//upload
//@import "../components/Upload/style";

//progress
//@import "../components/Progress/style";
