.message {
	display: flex;
	flex-direction: row;
	padding: 5px;
	align-items: center;
	.iconWrap {
		width: 36px;
		display: inherit;
		font-size: 16px;
		.info {
			fill: #1890ff;
		}
		.success {
			fill: #52c41a;
		}
		.warning {
			fill: #faad14;
		}
		.error {
			fill: #f5222d;
		}
	}
	.context {
		font-size: 16px;
		font-weight: 500;
	}
}
